# Node modules
node_modules/

# Environment files
.env
.env.*
!.test.env

# Dev temp files and folder like coverage are inside this cache folder
.cache/

# VS Code
.vscode/


# Draw.io Backup Files
*.bkp


