@import "tailwindcss";

@theme {
    --feature-grid: repeat(3, 150px);
    --breakpoint-xs: 30rem;
    /* equals 480px */
}

@layer base {
    body {
        background-color: aliceblue;
        color: #000033;
    }

    button {
        user-select: none;
        cursor: pointer;

        &:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 2px black;
        }
    }
}

@layer components {
    .primary-btn {
        @apply rounded-full text-white bg-blue-500 hover:bg-white hover:text-blue-500 hover:outline-2 hover:outline-blue-500 transition-colors duration-300;
    }

    .auth-form {
        input {
            @apply outline-1 p-2 outline-gray-500 rounded-sm focus:outline-2 focus:outline-blue-500;
        }

        button[type="submit"] {
            @apply self-center font-semibold mt-2 py-2 px-4 rounded-full text-white bg-blue-500 hover:bg-white hover:text-blue-500 hover:outline-2 hover:outline-blue-500 transition-colors duration-300;
        }
    }

    .features-container {
        @apply grid grid-cols-(--feature-grid) grid-rows-[100px] gap-3 justify-self-center;

        div {
            @apply w-full h-full grid place-content-center text-xl text-center outline outline-blue-500 p-2 text-blue-500;
        }
    }


}