@import "tailwindcss";

:root {
    --app-color-primary: hsl(217, 100%, 50%);
    --app-color-white: hsl(210 100% 98%);
    --app-color-black: hsl(240 100% 10%);
}


@theme {
    --color-primary: var(--app-color-primary);
    --color-white: var(--app-color-white);
    --color-black: var(--app-color-black);
    /* equals 480px  */
    --breakpoint-xs: 30rem;
}


@layer base {
    body {
        @apply bg-white text-black overflow-hidden;
    }

    button {
        @apply select-none cursor-pointer;

        &:focus-visible {
            @apply outline-none shadow-[inset_0_0_0_2px_black];
        }
    }
}

@layer components {
    .primary-btn {
        @apply rounded-full text-white bg-primary hover:bg-white hover:text-primary hover:outline-2 hover:outline-primary active:outline-offset-2 transition-colors duration-300;
    }

    .auth-form {
        label {
            @apply font-semibold;
        }

        input {
            @apply outline-1 p-2 outline-gray-500 rounded-sm focus:outline-2 focus:outline-primary placeholder:text-gray-600;
        }

        .submit-btn {
            @apply self-center font-semibold mt-2 py-2 px-4 rounded-full text-white bg-primary hover:bg-white hover:text-primary hover:outline-2 hover:outline-primary active:outline-offset-2 transition-colors duration-300;
        }

        .input-error {
            @apply text-base text-orange-700
        }
    }

    .features-container {
        @apply flex gap-5 text-primary font-bold max-sm:flex-col;

        div {
            @apply w-[250px] h-[150px] grid place-items-center text-center text-xl outline-3 outline-primary outline-dashed p-2 max-md:w-[120px] max-md:h-[100px] max-md:text-base;
        }
    }

    .password-visibility-btn {
        @apply w-6 h-6 absolute right-1 top-1/2 -translate-y-1/2;

        svg {
            @apply w-full h-full;
        }
    }

}