@import "tailwindcss";

@theme {
    --color-primary: theme(colors.blue.600);
    --feature-grid: repeat(3, 150px);
    /* equals 480px */
    --breakpoint-xs: 30rem;
}

@layer base {
    body {
        background-color: aliceblue;
        color: #000033;
    }

    button {
        user-select: none;
        cursor: pointer;

        &:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 2px black;
        }
    }
}

@layer components {
    .primary-btn {
        @apply rounded-full text-white bg-primary hover:bg-white hover:text-primary hover:outline-2 hover:outline-primary active:outline-offset-2 transition-colors duration-300;
    }

    .auth-form {
        input {
            @apply outline-1 p-2 outline-gray-500 rounded-sm focus:outline-2 focus:outline-primary placeholder:text-gray-600;
        }

        .submit-btn {
            @apply self-center font-semibold mt-2 py-2 px-4 rounded-full text-white bg-primary hover:bg-white hover:text-primary hover:outline-2 hover:outline-primary active:outline-offset-2 transition-colors duration-300;
        }

        .input-error {
            @apply text-base text-orange-700
        }
    }

    .features-container {
        @apply grid grid-cols-(--feature-grid) grid-rows-[100px] gap-3 justify-self-center;

        div {
            @apply w-full h-full grid place-content-center text-xl text-center outline outline-primary p-2 text-primary;
        }
    }

    .password-visibility-btn {
        @apply w-6 h-6 absolute right-1 top-1/2 -translate-y-1/2;

        svg {
            @apply w-full h-full;
        }
    }

}